<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/img/logo.svg" alt="WonderLust" /></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fw-bold" href="/">Home</a>
        <a class="nav-link fw-bold" href="/listing">All Listing</a>
        <a class="nav-link fw-bold" href="/listing/create-list">Create a list</a>
      </div>
    </div>
  </div>
</nav>