<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> WonderLust </title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Ensure the correct path -->
</head>
<body>
    <h1 class="logo">E2C</h1>
    <section class = "container">
        <%- body %>
    </section> 
</body>