<% layout ('layouts/base') -%>
<body style =" 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color : whitesmoke;">

    <h1>404 : Page Not Found</h1>
</body>