<% layout ('layouts/base') -%>

<h3>Latest Listings</h3>
<hr>
<div class="list-container">
  <% for(let list of listings) { %>
  <a href="/detail/<%= list.id %>">
    <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="src-img">
      <div class="card-body">
        <h3 class="card-text"><%= list.title %></h3>
        <p class="card-text"><%= list.description %></p>
        <p><%= list.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %> / night</p>
      </div>
    </div>
  </a>
  <% } %>

</div>
</body>

</html>