<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E2C</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Ensure the correct path -->
</head>
<body>
    <h1 class="logo">E2C</h1>
    <!-- Create New list -->
    <form action="/create-list">
        <button type="submit">Create New Listing</button>
    </form>
    <hr>
    <h1>Latest Listings</h1>
    <hr>
    <div class="list-container">
        <% for(let list of listings) { %>
        <div class="listing">
            <h2><%= list.title %></h2>
            <p><%= list.description %></p>
            <p><%= list.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %></p>
            <a href="/detail/<%= list.id %>">View</a>
        </div>
        <% } %>
    </div>
</body>
</html>