<% layout ('layouts/base') -%>
<body>
    <h2> List Your Property</h2>
    <!-- Create New list -->
    <form method="post" action="/create-list">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Title" required><br/>
        <hr>
        <label for="description">description</label>
        <input type="text" name="description" placeholder="Description" required><br/>
        <hr>
        <label for="price">Price</label>
        <input type="number" name="price" placeholder="Price" required><br/>
        <hr>
        <label for="location">Location</label>
        <input type="text" name="location" placeholder="Location" required><br/>
        <hr>
        <label for="country">Country</label>
        <input type="text" name="country" placeholder="Country" required><br/>
        <hr>
        <button type="submit"> Done </button>
    </form><br/>
    <hr>
</body>
</html>