<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E2C-ListYourProduct</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Ensure the correct path -->
</head>
<body>
    <h1 class="logo">E2C</h1>
    <h2 > List Your Product</h2>
    <!-- Create New list -->
    <form method="post" action="/create-list">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Title" required><br/>
        <hr>
        <label for="description">description</label>
        <input type="text" name="description" placeholder="Description" required><br/>
        <hr>
        <label for="price">Price</label>
        <input type="number" name="price" placeholder="Price" required><br/>
        <hr>
        <label for="location">Location</label>
        <input type="text" name="location" placeholder="Location" required><br/>
        <hr>
        <label for="country">Country</label>
        <input type="text" name="country" placeholder="Country" required><br/>
        <hr>
        <button type="submit"> Done </button>
    </form><br/>
    <hr>
</body>
</html>