body{
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #000;
    color: #fff;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    align-items: center;
}